
.title {
  font-size: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.iconClass {
  font-size: 100px;;
}

.modalContainer {
  display: flex;
  flex-direction: column;
}

.tabs {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.tab-icon {
  font-size: 100px;
  display: flex;
  flex-grow: 1;
}

.active{
  background-color: lightsteelblue;
}

.inactive {
  background-color: slategrey;
}